In [1]:
import pandas as pd

In [2]:
dat = pd.read_csv('~/Documents/PhD/Projects/10. ELECSIM/elecsim/data/raw/power_plants/uk_power_plants/2013-power-stations.csv')

dat.head(50)

,Company Name,Station Name,Fuel,Installed,Year of Location
0,NaN,NaN,NaN,Capacity,"commission or Scotland, Wales"
1,NaN,NaN,NaN,(MW),"year generation Northern Ireland,"
2,NaN,NaN,NaN,NaN,began or English region
3,A7 Energy (2),Greendykeside,wind,4,2007 Scotland
4,NaN,Lochhead,wind,6,2009 Scotland
5,AES,Kilroot,coal/oil,520,1981 Northern Ireland
6,NaN,Kilroot OCGT,gas oil,142,1981 Northern Ireland
7,NaN,Ballylumford B,gas,540,1968 Northern Ireland
8,NaN,Ballylumford B OCGT,gas oil,116,1968 Northern Ireland
9,NaN,Ballylumford C,CCGT,616,2003 Northern Ireland
10,Baglan Generation Ltd,Baglan Bay,CCGT,510,2002 Wales
11,Barking Power (3),Barking,CCGT,1000,1994 London
12,Beaufort Wind Ltd (4),Bears Down,wind,10,2001 South West
13,NaN,Bein Ghlas,wind,8,1999 Scotland
14,NaN,Bryn Titli,wind,10,1994 Wales
15,NaN,Carno,wind,34,1996 Wales
16,NaN,Causeymire,wind,48,2004 Scotland
17,NaN,Kirkby Moor,wind,5,1993 North West
18,NaN,Lambrigg,wind,7,2000 North West
19,NaN,Llyn Alaw,wind,20,1997 Wales
20,NaN,Mynydd Gorddu,wind,10,1996 Wales
21,NaN,Novar,wind,17,1997 Scotland
22,NaN,Taff Ely,wind,9,1993 Wales
23,NaN,Tow Law,wind,2,2001 North East
24,NaN,Trysglwyn,wind,6,1996 Wales
25,NaN,Windy Standard,wind,22,1996 Scotland
26,NaN,North Hoyle,wind (offshore),60,2003 Wales
27,NaN,Farr,wind,92,2006 Scotland
28,NaN,Ffynnon Oer,wind,32,2006 Wales
29,BNP Paribas Clean Energy Partners GP Limited,Gruig,wind,25,2009 Northern Ireland
30,Braes of Doune Windfarm (6),Braes of Doune,wind,72,2007 Scotland
31,British Energy (7),Dungeness B,nuclear,1040,1983 South East
32,NaN,Hartlepool,nuclear,1180,1984 North East
33,NaN,Heysham1,nuclear,1155,1984 North West
34,NaN,Heysham 2,nuclear,1220,1988 North West
35,NaN,Hinkley Point B,nuclear,880,1976 South West
36,NaN,Sizewell B,nuclear,1198,1995 East
37,NaN,Hunterston B,nuclear,890,1976 Scotland
38,NaN,Torness,nuclear,1185,1988 Scotland
39,Cemmaes Windfarm Ltd (8),Cemmaes,wind,15,2002 (9) Wales
40,Centrica,Barry (10 ),CCGT,140,1998 Wales
41,NaN,Glanford Brigg (10 ),CCGT,140,1993 Yorkshire and the Humber
42,NaN,Killingholme,CCGT,665,1994 Yorkshire and the Humber
43,NaN,Peterborough (10 ),CCGT,240,1993 East
44,NaN,South Humber Bank,CCGT,1285,1996 Yorkshire and the Humber
45,NaN,Langage,CCGT,905,2010 South West
46,NaN,Glens of Foudland,wind,26,2005 Scotland
47,NaN,Lynn,wind (offshore),97,2009 East Midlands
48,NaN,Inner Dowsing,wind (offshore),97,2009 East Midlands
49,Cold Northcott Windfarm Ltd (8),Cold Northcott,wind,7,1993 South West

In [3]:
dat = dat.rename(columns={'Company Name':'Company', 'Station Name':'Name', 'Fuel':'Fuel', 'Installed':'Capacity', 'Year of Location':'Year_and_Location'})
dat = dat[3:]
dat.head()

         Company            Name      Fuel Capacity      Year_and_Location
3  A7 Energy (2)   Greendykeside      wind        4          2007 Scotland
4            NaN        Lochhead      wind        6          2009 Scotland
5            AES         Kilroot  coal/oil      520  1981 Northern Ireland
6            NaN    Kilroot OCGT   gas oil      142  1981 Northern Ireland
7            NaN  Ballylumford B       gas      540  1968 Northern Ireland

In [4]:
dat.Company = dat.Company.fillna(method="ffill")
dat.head()

         Company            Name      Fuel Capacity      Year_and_Location
3  A7 Energy (2)   Greendykeside      wind        4          2007 Scotland
4  A7 Energy (2)        Lochhead      wind        6          2009 Scotland
5            AES         Kilroot  coal/oil      520  1981 Northern Ireland
6            AES    Kilroot OCGT   gas oil      142  1981 Northern Ireland
7            AES  Ballylumford B       gas      540  1968 Northern Ireland

In [5]:
dat[['Start_date','Location']]=dat['Year_and_Location'].str.split(' ', 1, expand=True)
dat.head()

,Company,Name,Fuel,Capacity,Year_and_Location,Start_date,Location
3,A7 Energy (2),Greendykeside,wind,4,2007 Scotland,2007,Scotland
4,A7 Energy (2),Lochhead,wind,6,2009 Scotland,2009,Scotland
5,AES,Kilroot,coal/oil,520,1981 Northern Ireland,1981,Northern Ireland
6,AES,Kilroot OCGT,gas oil,142,1981 Northern Ireland,1981,Northern Ireland
7,AES,Ballylumford B,gas,540,1968 Northern Ireland,1968,Northern Ireland

In [6]:
dat = dat.drop(columns=['Location', 'Year_and_Location'])

In [7]:
dat.Start_date = dat.Start_date.str.split('/').str.get(0)

In [8]:
dat = dat.dropna()
dat.head()

         Company            Name      Fuel Capacity Start_date
3  A7 Energy (2)   Greendykeside      wind        4       2007
4  A7 Energy (2)        Lochhead      wind        6       2009
5            AES         Kilroot  coal/oil      520       1981
6            AES    Kilroot OCGT   gas oil      142       1981
7            AES  Ballylumford B       gas      540       1968

In [9]:
dat = dat[~dat.Capacity.str.contains("Installed")]
dat = dat[~dat.Fuel.str.contains("installed")]
dat

,Company,Name,Fuel,Capacity,Start_date
3,A7 Energy (2),Greendykeside,wind,4,2007
4,A7 Energy (2),Lochhead,wind,6,2009
5,AES,Kilroot,coal/oil,520,1981
6,AES,Kilroot OCGT,gas oil,142,1981
7,AES,Ballylumford B,gas,540,1968
8,AES,Ballylumford B OCGT,gas oil,116,1968
9,AES,Ballylumford C,CCGT,616,2003
10,Baglan Generation Ltd,Baglan Bay,CCGT,510,2002
11,Barking Power (3),Barking,CCGT,1000,1994
12,Beaufort Wind Ltd (4),Bears Down,wind,10,2001
13,Beaufort Wind Ltd (4),Bein Ghlas,wind,8,1999
14,Beaufort Wind Ltd (4),Bryn Titli,wind,10,1994
15,Beaufort Wind Ltd (4),Carno,wind,34,1996
16,Beaufort Wind Ltd (4),Causeymire,wind,48,2004
17,Beaufort Wind Ltd (4),Kirkby Moor,wind,5,1993
18,Beaufort Wind Ltd (4),Lambrigg,wind,7,2000
19,Beaufort Wind Ltd (4),Llyn Alaw,wind,20,1997
20,Beaufort Wind Ltd (4),Mynydd Gorddu,wind,10,1996
21,Beaufort Wind Ltd (4),Novar,wind,17,1997
22,Beaufort Wind Ltd (4),Taff Ely,wind,9,1993
23,Beaufort Wind Ltd (4),Tow Law,wind,2,2001
24,Beaufort Wind Ltd (4),Trysglwyn,wind,6,1996
25,Beaufort Wind Ltd (4),Windy Standard,wind,22,1996
26,Beaufort Wind Ltd (4),North Hoyle,wind (offshore),60,2003
27,Beaufort Wind Ltd (4),Farr,wind,92,2006
28,Beaufort Wind Ltd (4),Ffynnon Oer,wind,32,2006
29,BNP Paribas Clean Energy Partners GP Limited,Gruig,wind,25,2009
30,Braes of Doune Windfarm (6),Braes of Doune,wind,72,2007
31,British Energy (7),Dungeness B,nuclear,1040,1983
32,British Energy (7),Hartlepool,nuclear,1180,1984
...,...,...,...,...,...
419,Wind:,Lynemouth,wind,26,2012
420,Wind:,Mark Hill,wind,56,2011
425,Company Name,Middleton,wind,12,2013
426,Company Name,Penryddian & Llidiartywaun,wind,31,1992
427,Company Name,Rigged Hill,wind,5,1994
428,Company Name,Wether Hill,wind,18,2007
429,Company Name,Whitelee,wind,322,2007
430,Company Name,Whitelee II,wind,217,2012
431,Company Name,Wolf Bog,wind,10,2008
432,Seabank Power Limited (24),Seabank 1,CCGT,812,1998
433,Seabank Power Limited (24),Seabank 2,CCGT,410,2000
434,Sembcorp Utilities (UK) Ltd,Wilton Power Station,gas/coal/oil,238,1952
435,Sembcorp Utilities (UK) Ltd,Wilton GT2,gas,42,2005
436,Sembcorp Utilities (UK) Ltd,Wilton 10,biomass,38,2007
438,Combined Heat & Power Ltd,SELCHP ERF,waste,32,1994
439,Statkraft Energy Ltd,Rheidol,hydro,49,1961
440,Statkraft Wind UK Ltd,Alltwalis,wind,23,2009
441,Statkraft Wind UK Ltd,Scira (Sheringham Shoal),wind (offshore),316,2012
442,Statkraft Wind UK Ltd,Baillie,wind,53,2013
443,Sutton Bridge Power Generation,Sutton Bridge,CCGT,819,1999
444,Talisman Energy,Beatrice (3 ),wind (offshore),10,2007
445,Triodos,FMC (2),wind,2,2011
446,Vattenfall Wind Power,Kentish Flats,wind (offshore),90,2005
447,Vattenfall Wind Power,Thanet,wind (offshore),300,2010
448,Vattenfall Wind Power,Edinbane,wind,41,2010
449,Vattenfall Wind Power,Ormonde,wind (offshore),150,2011
450,Vattenfall Wind Power,Swinford,wind,22,2012
451,Windcluster,Haverigg III (2),wind,3,2005
452,Yorkshire Windpower Ltd (25),Ovenden Moor,wind,9,1993
453,Yorkshire Windpower Ltd (25),Royd Moor,wind,7,1993

In [10]:
dat_renamed = dat.copy()
dat_renamed.Fuel = dat_renamed.Fuel.str.lower()
dat_renamed.Fuel = dat_renamed.Fuel.map(lambda x:"Biomass" if "meat" == x
                                                             else "Offshore" if "wind (offshore)" == x
                                                             else "Biomass" if "biomass_poultry_litter" == x
                                                             else "Biomass" if "straw" == x
                                                             else "Recip_diesel" if "diesel" == x
                                                             else "Biomass" if "biomass_wood" == x
                                                             else "Recip_gas" if "gas" == x
                                                             else "PV" if "solar" == x
                                                             else "OCGT" if "gas oil" == x
                                                             else "EfW" if "waste" == x
                                                             else "Hydro_Store" if "pumped storage" == x
                                                             else "Onshore" if "wind" == x
                                                             else "Coal" if "coal/oil" == x
                                                             else "OCGT" if "gas oil" == x
                                                             else "OCGT" if "gas chp" == x
                                                             else "Biomass" if "rapeseed oil" == x
                                                             else "Hydro" if "hydro/" == x
                                                             else "Biomass" if "coal/biomass" == x
                                                             else "Biomass" if "coal/biomass/" == x
                                                             else "OCGT" if "gas/oil" == x
                                                             else x)

dat_renamed = dat_renamed[~dat_renamed['Fuel'].isin(['mines gas', 'light oil', 'oil', 'gas/coal/oil', 'gas oil/kerosene'])]

pd.unique(dat_renamed.Fuel)

array(['Onshore', 'Coal', 'OCGT', 'Recip_gas', 'ccgt', 'Offshore',
       'nuclear', 'biomass', 'ocgt', 'Hydro_Store', 'coal', 'EfW',
       'hydro', 'Biomass', 'Hydro', 'Recip_diesel'], dtype=object)

In [11]:
dat_renamed.to_csv('~/Documents/PhD/Projects/10. ELECSIM/elecsim/data/processed/power_plants/uk_power_plants/plants_2013/uk_plants_2013.csv')